<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="statusChanged($event)"
    [navegacao]="['Gerenciamento', 'Currículo']"
    fxFlex
>
    <form
        (Keydown.enter)="servicoDataBarBind.enviarFormComEnter()"
        [formGroup]="form"
        fxLayout.xs="column"
        class="turno-form"
    >
        <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="8px">
            <!-- CODIGO -->
            <mat-form-field
                *ngIf="statusDataBar != EStatus.inserindo"
                appearance="outline"
                fxFlex="20"
            >
                <mat-label>Código</mat-label>
                <input
                    mask="9{6}"
                    matInput
                    class="primary-color-input border-radius-4"
                    name="primary color"
                    formControlName="codigo"
                />
            </mat-form-field>
            <!-- CODIGO -->

            <!-- ANO -->
            <mat-form-field appearance="outline">
                <mat-label>Ano</mat-label>
                <input
                    matInput
                    class="primary-color-input border-radius-4"
                    name="primary color"
                    mask="0000"
                    formControlName="ano"
                />
                <mat-error *ngIf="form.get('ano').hasError('required')">
                    {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                </mat-error>
                <mat-error *ngIf="form.get('ano').hasError('pattern')">
                    {{ "GERENCIAMENTO.ANO_INVALIDO" | translate }}
                </mat-error>
            </mat-form-field>
            <!-- ANO -->

            <!-- CURSO -->
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Curso</mat-label>
                <mat-select placeholder="Período" formControlName="codigoCurso">
                    <mat-option
                        *ngFor="let curso of cursos"
                        [value]="curso.codigo"
                    >
                        {{ curso.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('codigoCurso').hasError('required')">
                    {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                </mat-error>
            </mat-form-field>
            <!-- CURSO -->
        </div>
        <!-- TABLE DISCIPLINAS -->
        <div class="mat-elevation-z1 p-8" fxLayout="column">
            <div fxLayoutAlign="end center">
                <button
                    [disabled]="
                        !this.form.get('codigo').value ||
                        this.statusDataBar === EStatus.pesquisando
                    "
                    class="m-4"
                    type="button"
                    mat-raised-button
                    (click)="abrirDialogAdicionarDisciplina()"
                    color="primary"
                >
                    Vincular disciplina
                </button>
            </div>

            <!-- TABELA -->
            <ap-expansivel-table
                *ngIf="dataSource.data.length > 0"
                fxFlex
                [displayedColumns]="displayedColumns"
                [columnDefExpansivel]="displayedExpansivelColumns"
                [dataSource]="dataSource"
                [acoesTabela]="acoesTabela"
                [desabilitarBotoes]="
                    !this.form.get('codigo').value || this.removendoDisciplina
                "
            >
            </ap-expansivel-table>

            <span class="texto-informativo" *ngIf="dataSource.data.length <= 0">
                <p>
                    Clique em vincular disciplina para adicionar uma disciplina
                    ao currículo.
                </p>
            </span>
            <!-- TABELA -->
        </div>
        <!-- TABLE DISCIPLINAS -->
    </form>
</databar-form>
