<div fxLayout="column" fxFlex="1 0 auto" class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <span class="title dialog-title">{{ data.titulo }}</span>
            <button
                mat-icon-button
                (click)="fecharDialog()"
                aria-label="Fechar dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div fxFlex="100" class="p-16 pb-0 m-0 noPadding" fusePerfectScrollbar>
        <!-- FORM -->
        <form
            name="adicionarDisciplinaForm"
            fxLayout="column"
            [formGroup]="form"
        >
            <!-- DESCRICAO -->
            <mat-form-field appearance="outline" fxFlex.gt-sm="100">
                <mat-label>Descrição</mat-label>
                <input
                    #input_descricao
                    required
                    matInput
                    type="text"
                    class="primary-color-input border-radius-4"
                    formControlName="descricao"
                />
                <mat-error *ngIf="form.get('descricao').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- DESCRICAO -->

            <!-- CURRICULO -->
            <mat-form-field appearance="outline" fxFlex="1 0 auto">
                <mat-label>Currículo</mat-label>
                <mat-select fxLayout="column" formControlName="codigoCurriculo">
                    <mat-option
                        *ngIf="!data.curriculos || data.curriculos?.length <= 0"
                        disabled
                    >
                        <span>Nenhum registro encontrado</span>
                    </mat-option>
                    <div *ngFor="let curriculo of data.curriculos">
                        <mat-option [value]="curriculo.codigo">
                            {{ curriculo.descricaoCurso }} - {{ curriculo.ano }}
                        </mat-option>
                    </div>
                </mat-select>
                <mat-error
                    *ngIf="form.get('codigoCurriculo').hasError('required')"
                >
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- CURRICULO -->

            <!-- TURNOS -->
            <mat-form-field appearance="outline" fxFlex.gt-sm="20">
                <mat-label>Turnos </mat-label>
                <mat-select fxLayout="column" formControlName="codigoTurno">
                    <mat-option
                        disabled
                        *ngIf="turnos?.length <= 0 && !carregandoTurnos"
                    >
                        Nenhum turno encontrado.
                    </mat-option>
                    <mat-option disabled *ngIf="carregandoTurnos">
                        Carregando turnos...
                    </mat-option>
                    <div *ngFor="let turno of turnos">
                        <mat-option [value]="turno.codigo">{{
                            turno.descricao
                        }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- TURNOS -->

            <!-- PERIODO -->
            <mat-form-field fxFlex.gt-sm="12" appearance="outline">
                <mat-label>Períodos</mat-label>
                <mat-select placeholder="Período" formControlName="periodo">
                    <mat-option
                        *ngFor="let periodo of data.periodos"
                        [value]="periodo.codigo"
                    >
                        {{ periodo.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('periodo').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- PERIODO -->

            <!-- SEMESTRE -->
            <mat-form-field
                appearance="outline"
                fxFlex.gt-sm="12"
                fxFlex="1 0 auto"
            >
                <mat-label>Semestre</mat-label>
                <mat-select fxLayout="column" formControlName="semestre">
                    <div *ngFor="let semestre of data.semestres">
                        <mat-option [value]="semestre">
                            {{ retornarDescricaoSemestre(semestre) }}
                        </mat-option>
                    </div>
                </mat-select>
                <mat-error *ngIf="form.get('semestre').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- SEMESTRE -->

            <!-- ANO -->
            <mat-form-field fxFlex.gt-sm="12" appearance="outline">
                <mat-label>Ano</mat-label>
                <input formControlName="ano" matInput mask="0000" />
                <mat-error *ngIf="form.get('ano').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- ANO -->

            <!-- MENSAGEM -->
            <mat-form-field appearance="outline">
                <mat-label>Mensagem</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    formControlName="mensagem"
                ></textarea>
            </mat-form-field>
            <!-- MENSAGEM -->
        </form>
        <!-- FORM -->
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            class="mat-raised-button mat-accent"
            [disabled]="desabilitarBotaoSalvar"
            (click)="salvar()"
        >
            <div
                fxLayout="row"
                fxFlex="1 0 auto"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
                *ngIf="salvando"
            >
                <span>SALVANDO</span>
                <mat-spinner diameter="20"></mat-spinner>
            </div>
            <span *ngIf="!salvando">SALVAR</span>
        </button>
    </div>
</div>
