<div
    class="page-layout simple card fullwidth inner-scroll p-12"
    fxLayout="column"
    fxLayoutGap="12px"
>
    <!-- FILTRO -->
    <mat-card>
        <form [formGroup]="form" novalidate fxLayoutGap="12px">
            <!-- CURRICULO -->
            <mat-form-field appearance="outline" fxFlex="1 0 auto">
                <mat-label>Currículo</mat-label>
                <mat-select fxLayout="column" formControlName="codigoCurriculo">
                    <mat-option
                        *ngIf="curriculos.length <= 0 && !carregandoCurriculos"
                        disabled
                    >
                        <span>Nenhum registro encontrado</span>
                    </mat-option>
                    <mat-option *ngIf="carregandoCurriculos" disabled>
                        <span>Carregando currículos...</span>
                    </mat-option>
                    <div *ngFor="let curriculo of curriculos">
                        <mat-option [value]="curriculo.codigo">
                            {{ curriculo.descricaoCurso }} - {{ curriculo.ano }}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- CURRICULO -->

            <!-- PERIODO -->
            <mat-form-field fxFlex.gt-sm="12" appearance="outline">
                <mat-label>Períodos</mat-label>
                <mat-select placeholder="Período" formControlName="periodo">
                    <mat-option
                        *ngFor="let periodo of periodos"
                        [value]="periodo.codigo"
                    >
                        {{ periodo.descricao }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- PERIODO -->

            <!-- SEMESTRE -->
            <mat-form-field
                appearance="outline"
                fxFlex.gt-sm="12"
                fxFlex="1 0 auto"
            >
                <mat-label>Semestre</mat-label>
                <mat-select fxLayout="column" formControlName="semestre">
                    <div *ngFor="let semestre of semestres">
                        <mat-option [value]="semestre">
                            {{ retornarDescricaoSemestre(semestre) }}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- SEMESTRE -->

            <!-- ANO -->
            <mat-form-field fxFlex.gt-sm="12" appearance="outline">
                <mat-label>Ano</mat-label>
                <input
                    formControlName="ano"
                    matInput
                    class="primary-color-input border-radius-4"
                    name="primary color"
                    mask="0000"
                />
            </mat-form-field>
            <!-- ANO -->

            <!-- BOTOES PESQUISA -->
            <div
                class="mat-form-field-wrapper"
                fxLayoutAlign="center center"
                fxLayoutGap="12px"
            >
                <button
                    mat-raised-button
                    color="accent"
                    [disabled]="pesquisandoHorarios"
                    (click)="pesquisarHorarios()"
                    class="p-8"
                    fxLayoutAlign="center center"
                    matTooltip="Pesquisar horários"
                >
                    <mat-spinner
                        *ngIf="pesquisandoHorarios"
                        diameter="20"
                    ></mat-spinner>
                    <mat-icon *ngIf="!pesquisandoHorarios">search</mat-icon>
                </button>

                <button
                    *ngIf="habilitarBotaoLimpar"
                    mat-raised-button
                    (click)="limparPesquisa()"
                    matTooltip="Limpar pesquisa"
                >
                    Limpar
                </button>
            </div>
            <!-- BOTOES PESQUISA -->
        </form>
    </mat-card>
    <!-- FILTRO -->

    <!-- HORARIOS -->
    <mat-card
        fxLayout="column"
        fxFlex="100"
        style="overflow-y: scroll;"
        fusePerfectScrollbar
    >
        <div
            fxLayout.gt-sm="row wrap"
            fxLayoutAlign.gt-sm="center space-between"
        >
            <span class="texto-informativo" *ngIf="horarios.length <= 0">
                <p>
                    Clique em adicionar horários (+) para adicionar um novo
                    horário.
                </p>
            </span>

            <ng-container *ngFor="let horario of horarios">
                <horario-card
                    fxFlex.gt-sm="25"
                    fxFlex="100"
                    class="m-24"
                    ($editar)="editarHorario($event)"
                    ($remover)="removerHorario($event)"
                    ($selecionar)="selecionarHorario($event)"
                    [horario]="horario"
                ></horario-card>
            </ng-container>
        </div>
    </mat-card>

    <button
        class="botao-flutuante"
        (click)="adicionarHorarios()"
        mat-fab
        matTooltip="Adicionar novo horário"
    >
        <mat-icon>add</mat-icon>
    </button>
    <!-- HORARIOS -->
</div>
