::ng-deep .sucesso {
    @media (min-width: 960px) {
        max-width: 384px !important;
    }
    background: #4caf50 !important;
    color: white !important;
    button {
        color: #1b5e20 !important;
        font-weight: 800 !important;
    }
}


::ng-deep .erro {
    @media (min-width: 960px) {
        max-width: 384px !important;
    }
    background: #af4c4c !important;
    color: white !important;
    button {
        color: #5e231b !important;
        font-weight: 800 !important;
    }
}

::ng-deep .info {
    @media (min-width: 960px) {
        max-width: 384px !important;
    }
    background: #306bb9 !important;
    color: white !important;
    button {
        color: #054164 !important;
        font-weight: 800 !important;
    }
}