<div class="page-layout simple tabbed white">
    <!-- HEADER -->
    <header-descricao [navegacao]="['Gerenciamento']" titulo="{{ 'GERENCIAMENTO.DISCIPLINA.TITULO' | translate }}">
    </header-descricao>
    <!-- HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="{{ 'GERENCIAMENTO.DISCIPLINA.TITULO' | translate }}">
                <div class="p-24">

                </div>
            </mat-tab>

            <mat-tab label="{{ 'GERENCIAMENTO.DISCIPLINA.TIPO' | translate }}">
                <div class="p-24">
                    <disciplinaTipo></disciplinaTipo>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>