<div class="page-layout simple fullwidth">
    <!-- HEADER -->
    <header-descricao [navegacao]="['Gerenciamento']" titulo="{{ 'GERENCIAMENTO.TURNO.TITULO' | translate }}">
    </header-descricao>
    <!-- HEADER -->

    <data-bar [acoesViewModel]="acoesViewModel"></data-bar>

    <!-- CONTENT -->
    <div class="content p-24">
        <form fxLayout.xs="column" class="turno-form">
            <!-- CODIGO -->
            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="20">
                <mat-label>Código</mat-label>
                <input matInput class="primary-color-input border-radius-4" name="primary color"
                    formControlName="codigo" />
            </mat-form-field>
            <!-- CODIGO -->

            <!-- DESCRICAO -->
            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex>
                <mat-label>Descrição</mat-label>
                <input matInput class="primary-color-input border-radius-4" name="primary color"
                    formControlName="descricao" />
            </mat-form-field>
            <!-- DESCRICAO -->
        </form>
    </div>
    <!-- / CONTENT -->
</div>