<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="statusChanged($event)"
    [navegacao]="['Salas', 'Bloco']"
    fxFlex
>
    <!-- FORM -->
    <form
        [formGroup]="form"
        fxLayout="column"
        fxLayout.gt-sm="row"
        fxLayout="column"
        fxFlex="1 0 auto"
        fxLayoutGap.gt-sm="12px"
    >
        <!-- CODIGO -->
        <mat-form-field
            *ngIf="statusDataBar != EStatus.inserindo"
            appearance="outline"
            fxFlex.gt-sm="20"
        >
            <mat-label>Código</mat-label>
            <input
                mask="9{6}"
                matInput
                class="primary-color-input border-radius-4"
                name="primary color"
                formControlName="codigo"
            />
        </mat-form-field>
        <!-- CODIGO -->

        <!-- DESCRICAO -->
        <mat-form-field appearance="outline" fxFlex.gt-sm="100">
            <mat-label>Descrição</mat-label>
            <input
                #input_descricao
                [required]="inserindoOuEditando"
                matInput
                maxlength="30"
                type="text"
                class="primary-color-input border-radius-4"
                formControlName="descricao"
            />
            <mat-hint align="end">
                {{ input_descricao.value?.length || 0 }}/30</mat-hint
            >
            <mat-error *ngIf="form.get('descricao').hasError('required')">
                Campo obrigatório!
            </mat-error>
        </mat-form-field>
        <!-- DESCRICAO -->
    </form>

    <!-- FORM -->
</databar-form>
