<div
    class="page-layout simple card fullwidth inner-scroll p-12"
    fxLayout="column"
    fxLayoutGap="12px"
>
    <!-- PROGRES_BAR -->
    <mat-progress-bar
        *ngIf="carregandoAulas"
        mode="indeterminate"
    ></mat-progress-bar>
    <!-- PROGRES_BAR -->

    <button
        [disabled]="carregandoAulas"
        mat-raised-button
        color="accent"
        (click)="lancarAulas()"
    >
        Lançar aulas
    </button>

    <mat-card style="overflow-y: scroll" fusePerfectScrollbar class="p-12">
        <table fxFlex="100" fxLayout="column" fxLayoutGap="4px">
            <thead fxFlex="100">
                <th *ngFor="let diaSemana of diasDaSemana" fxFlex>
                    <mat-card class="titulo-tabela">
                        {{ diaSemana }}
                    </mat-card>
                </th>
            </thead>
            <tbody fxFlex="100">
                <div *ngFor="let horario of horarios" fxLayout="column">
                    <div fxFlex class="horario">
                        {{ horario }}
                    </div>

                    <tr>
                        <td *ngFor="let diaSemana of diasDaSemana" fxFlex>
                            <ng-container
                                *ngFor="
                                    let aula of retornarAulas(
                                        horario,
                                        diaSemana
                                    )
                                "
                            >
                                <mat-card
                                    fxFill
                                    fxLayoutAlign="center center"
                                    *ngIf="aula.reserva.hora == horario"
                                    fxLayout="column"
                                    (click)="removerAula(aula)"
                                    class="aula"
                                >
                                    <span>
                                        <strong>{{ aula.disciplina }}</strong>
                                    </span>
                                    <span>
                                        {{ aula.descricaoDesdobramento }}
                                    </span>
                                    <span> ({{ aula.professor }}) </span>
                                    <span>
                                        <strong> {{ aula.sala }} </strong>
                                    </span>

                                    <mat-icon
                                        *ngIf="aula.horarioExtrapolado"
                                        color="warn"
                                        matTooltip="Horário extrapolado"
                                        >error</mat-icon
                                    >
                                </mat-card>
                            </ng-container>

                            <mat-card
                                fxFill
                                fxLayoutAlign="center center"
                                fxLayout="column"
                                *ngIf="!existeHorario(horario, diaSemana)"
                                (click)="adicionarAula(horario, diaSemana)"
                                class="aula"
                            >
                                <span>Disponível</span>
                            </mat-card>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </mat-card>
</div>
