<div
    class="page-layout simple card fullwidth inner-scroll p-12"
    fxLayout="column"
    fxLayoutGap="12px"
>
    <mat-card>
        <table fxFlex="100">
            <thead>
                <th></th>
                <th *ngFor="let diaSemana of diasDaSemana" class="m-12">
                    <mat-card class="titulo-tabela">
                        {{ diaSemana }}
                    </mat-card>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let horario of horarios">
                    <td>
                        <mat-card class="titulo-tabela">
                            {{ horario }}
                        </mat-card>
                    </td>

                    <td *ngFor="let diaSemana of diasDaSemana">
                        <ng-container
                            *ngFor="
                                let aula of retornarAulas(horario, diaSemana)
                            "
                        >
                            <mat-card
                                *ngIf="aula.horario == horario"
                                class="aula"
                            >
                                {{ aula.professor }}
                            </mat-card>
                        </ng-container>

                        <mat-card
                            *ngIf="!existeHorario(horario, diaSemana)"
                            class="aula"
                        >
                            Disponível
                        </mat-card>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>
