.aula {
    text-align: center;
    cursor: pointer;
}

mat-card.titulo-tabela {
    background-color: rgba(85, 127, 148, 0.897);
    color: white;
    text-align: center;
}

.aula:hover {
    transform: translateY(-2px);
    transition: all 0.2s;
    background-color: #557f94;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2) !important;
    .mat-card-subtitle {
        color: white;
    }
}
