@import "src/@fuse/scss/fuse";
@import "src/app/shared/styles/toast";

.aula {
    position: relative;
    text-align: center;
    font-size: 0.7em;
    transform: all 0.3s;
    transition: all 0.2s ease-in-out;
    z-index: 0;
}

mat-card.titulo-tabela {
    background-color: rgba(85, 127, 148, 0.897);
    color: white;
    text-align: center;
}

.horario {
    text-align: start;
    display: inline-block;
    right: 0;
    left: 0;
    font-weight: 600;
}

.aula:hover {
    transform: scale(1.18);
    z-index: 2;
    background-color: #557f94;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.342) !important;
    .mat-card-subtitle {
        color: white;
    }
    #button-remover-aula {
        color: white;
    }
    #button-remover-aula:hover {
        box-shadow: rgba(0, 0, 0, 0.116) 0px 5px 15px;
    }
}
