<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="statusChanged($event)"
    [navegacao]="['Gerenciamento', 'Usuários']"
    fxFlex
>
    <!-- FORM -->
    <form [formGroup]="form" fxLayout="column">
        <!-- LINHA 1 -->
        <div fxLayout="column" fxLayout.gt-sm="row">
            <!-- PERFIL -->
            <mat-form-field fxFlex appearance="outline" class="pr-sm-8">
                <mat-select placeholder="Perfil" formControlName="perfilCodigo">
                    <mat-option
                        *ngFor="let perfil of perfis"
                        [value]="perfil.codigo"
                    >
                        {{ perfil.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('perfilCodigo').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- PERFIL -->

            <!-- NOME -->
            <ap-input-max-length
                fxFlex
                [maxlength]="45"
                label="Nome"
                [minlength]="1"
                controlName="nome"
                [form]="form"
                name="nome"
                mensagemErro="Campo obrigatório!"
                [condicaoErro]="form.get('nome').hasError('required')"
            >
            </ap-input-max-length>
            <!-- NOME -->
        </div>
        <!-- LINHA 1 -->

        <!-- LINHA 2 -->
        <div fxLayout="column" fxLayout.gt-sm="row">
            <!-- LOGIN -->
            <mat-form-field appearance="outline" fxFlex="100" class="pr-sm-8">
                <mat-label>Login</mat-label>
                <input
                    (keydown.space)="preventEspacos($event)"
                    matInput
                    type="text"
                    #input
                    maxlength="30"
                    class="primary-color-input border-radius-4"
                    name="login"
                    formControlName="login"
                />

                <mat-hint align="end">
                    {{ input.value?.length || 0 }}/30</mat-hint
                >
                <mat-error *ngIf="form.get('email').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- LOGIN -->

            <!-- SENHA -->
            <ap-input-max-length
                fxFlex="100"
                [maxlength]="30"
                label="Senha"
                [minlength]="1"
                controlName="senha"
                tipo="password"
                toggleSenha="true"
                [form]="form"
                name="senha"
                mensagemErro="Campo obrigatório!"
                [condicaoErro]="form.get('senha').hasError('required')"
            >
            </ap-input-max-length>
            <!-- SENHA -->
        </div>
        <!-- LINHA 2 -->

        <!-- LINHA 3 -->
        <div fxLayout="column" fxLayout.gt-sm="row">
            <!-- EMAIL -->
            <mat-form-field appearance="outline" fxFlex="100" class="pr-sm-8">
                <mat-label>E-mail</mat-label>
                <input
                    matInput
                    type="email"
                    #input
                    maxlength="30"
                    minlength="1"
                    class="primary-color-input border-radius-4"
                    name="email"
                    formControlName="email"
                />

                <mat-hint align="end">
                    {{ input.value?.length || 0 }}/30</mat-hint
                >
                <mat-error *ngIf="form.get('email').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
                <mat-error *ngIf="form.get('email').hasError('email')">
                    E-mail inválido!
                </mat-error>
            </mat-form-field>
            <!-- EMAIL -->

            <!-- TELEFONE -->
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Celular</mat-label>
                <input
                    matInput
                    mask="(00) 000000000"
                    type="text"
                    class="primary-color-input border-radius-4"
                    name="telefone"
                    formControlName="telefone"
                />
                <mat-error *ngIf="form.get('telefone').hasError('pattern')">
                    Telefone inválido!
                </mat-error>
                <mat-error *ngIf="form.get('telefone').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- TELEFONE -->
        </div>
        <!-- LINHA 3 -->
    </form>

    <!-- FORM -->
</databar-form>
