<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="statusChanged($event)"
    [navegacao]="['Gerenciamento', 'Currículo']"
    fxFlex
>
    <form
        (Keydown.enter)="servicoDataBarBind.enviarFormComEnter()"
        [formGroup]="form"
        fxLayout.xs="column"
        class="turno-form"
    >
        <!-- ROW 1 -->
        <div fxLayout.gt-sm="row" fxLayout="column">
            <!-- CODIGO -->
            <mat-form-field
                *ngIf="statusNavBar != EStatus.inserindo"
                appearance="outline"
                class="pr-sm-8"
                fxFlex="20"
            >
                <mat-label>Código</mat-label>
                <input
                    [disabled]="
                        statusNavBar == EStatus.inserindo ||
                        statusNavBar == EStatus.editando
                    "
                    matInput
                    class="primary-color-input border-radius-4"
                    name="primary color"
                    formControlName="codigo"
                />
            </mat-form-field>
            <!-- CODIGO -->

            <!-- PERIODO -->
            <mat-form-field fxFlex appearance="outline" class="pr-sm-8">
                <mat-select placeholder="Período" formControlName="periodo">
                    <mat-option
                        *ngFor="let periodo of periodos"
                        [value]="periodo.codigo"
                    >
                        {{ periodo.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('periodo').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- PERIODO -->

            <!-- ANO -->
            <mat-form-field appearance="outline" class="pr-sm-8">
                <mat-label>Ano</mat-label>
                <input
                    matInput
                    class="primary-color-input border-radius-4"
                    name="primary color"
                    mask="0000"
                    formControlName="ano"
                />
                <mat-error *ngIf="form.get('ano').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
                <mat-error *ngIf="form.get('ano').hasError('pattern')">
                    {{ 'GERENCIAMENTO.ANO_INVALIDO' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- ANO -->
        </div>
        <!-- ROW 1 -->

        <!-- ROW 2 -->
        <div fxLayout.gt-sm="row" fxLayout="column">
            <!-- CURSO -->
            <mat-form-field fxFlex appearance="outline" class="pr-sm-8">
                <mat-label>Curso</mat-label>
                <mat-select placeholder="Período" formControlName="codigoCurso">
                    <mat-option
                        *ngFor="let curso of cursos"
                        [value]="curso.codigo"
                    >
                        {{ curso.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('codigoCurso').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- CURSO -->

            <!-- TURNO -->
            <mat-form-field fxFlex appearance="outline" class="pr-sm-8">
                <mat-label>Turno</mat-label>
                <mat-select placeholder="Turno" formControlName="codigoTurno">
                    <mat-option
                        *ngFor="let turno of turnos"
                        [value]="turno.codigo"
                    >
                        {{ turno.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('codigoTurno').hasError('required')">
                    {{ 'GERENCIAMENTO.CAMPO_OBRIGATORIO' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- TURNO -->
        </div>
        <!-- ROW 2 -->

        <!-- TABLE DISCIPLINAS -->
        <div class="mat-elevation-z1" fxLayout="column">
            <div fxLayoutAlign="end center">
                <button
                    [disabled]="
                        statusNavBar != EStatus.editando &&
                        statusNavBar != EStatus.inserindo
                    "
                    class="m-4"
                    type="button"
                    mat-button
                    matTooltip="Vincular disciplina"
                    (click)="abrirDialogAdicionarDisciplina()"
                    color="primary"
                >
                    <!-- <span>
                        Vincular disciplina
                    </span> -->
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <!-- TABELA -->
            <ap-expansivel-table
                *ngIf="dataSource.data.length > 0"
                fxFlex
                [displayedColumns]="displayedColumns"
                [columnDefExpansivel]="displayedExpansivelColumns"
                [dataSource]="dataSource"
                [acoesTabela]="acoesTabela"
                [desabilitarBotoes]="
                    statusNavBar != EStatus.editando &&
                    statusNavBar != EStatus.inserindo
                "
            >
            </ap-expansivel-table>

            <span class="texto-informativo" *ngIf="dataSource.data.length <= 0">
                <p>Clique no + para vincular uma disciplina ao currículo.</p>
            </span>
            <!-- TABELA -->
        </div>
        <!-- TABLE DISCIPLINAS -->
    </form>
</databar-form>
