<form [formGroup]="form" fxLayout.xs="column" class="turno-form">

    <mat-form-field appearance="outline" class="pr-sm-8" fxFlex>
        <mat-label>{{label}}</mat-label>
        <input matInput #input maxlength="{{maxlength}}" minlength="{{minlength}}"
            class="primary-color-input border-radius-4" name="{{name}}" formControlName="{{controlName}}" />
        <mat-hint align="end">{{input.value?.length || 0}}/{{maxlength}}</mat-hint>
        <mat-error *ngIf="condicaoErro">
            {{'NAV.CAMPO_OBRIGATORIO' | translate}}
        </mat-error>
    </mat-form-field>

</form>