<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="onStatusChanged($event)"
    [navegacao]="['Gerenciamento', 'Cargos', 'Cargo']"
    fxFlex
>
    <!-- FORM -->
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="4px">
        <div fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutGap="4px">
            <!-- NUMERO -->
            <mat-form-field appearance="outline" fxFlex.gt-sm="12" fxFlex="100">
                <mat-label>Número</mat-label>
                <input
                    #input_numero
                    [required]="inserindoOuEditando"
                    matInput
                    mask="9*"
                    maxlength="6"
                    type="text"
                    class="primary-color-input border-radius-4"
                    formControlName="numero"
                />
                <mat-hint align="end">
                    {{ input_numero.value?.length || 0 }}/6</mat-hint
                >
                <mat-error *ngIf="form.get('numero').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- NUMERO -->

            <!-- EDITAL -->
            <mat-form-field appearance="outline" fxFlex.gt-sm="12" fxFlex="100">
                <mat-label>Edital</mat-label>
                <input
                    #input_edital
                    [required]="inserindoOuEditando"
                    matInput
                    mask="9*"
                    maxlength="6"
                    type="text"
                    class="primary-color-input border-radius-4"
                    formControlName="edital"
                />
                <mat-hint align="end">
                    {{ input_edital.value?.length || 0 }}/6</mat-hint
                >
                <mat-error *ngIf="form.get('edital').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- EDITAL -->

            <!-- ANO -->
            <mat-form-field appearance="outline" fxFlex.gt-sm="12" fxFlex="100">
                <mat-label>Ano</mat-label>
                <input
                    #input_ano
                    [required]="inserindoOuEditando"
                    matInput
                    mask="9{4}"
                    maxlength="4"
                    type="text"
                    class="primary-color-input border-radius-4"
                    formControlName="ano"
                />
                <mat-hint align="end">
                    {{ input_ano.value?.length || 0 }}/4</mat-hint
                >
                <mat-error *ngIf="form.get('ano').hasError('pattern')">
                    Ano inválido
                </mat-error>
                <mat-error *ngIf="form.get('ano').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- ANO -->

            <!-- SEMESTRE -->
            <mat-form-field
                appearance="outline"
                fxFlex.gt-sm="20"
                fxFlex="1 0 auto"
            >
                <mat-label>Semestre</mat-label>
                <mat-select
                    fxLayout="column"
                    formControlName="semestre"
                    [required]="inserindoOuEditando"
                >
                    <div *ngFor="let semestre of semestres">
                        <mat-option [value]="semestre.codigo">{{
                            semestre.descricao
                        }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- SEMESTRE -->

            <!-- PROFESSOR -->
            <mat-form-field appearance="outline" fxFlex="1 0 auto">
                <mat-label>Professor</mat-label>
                <mat-select fxLayout="column" formControlName="professor">
                    <input
                        *ngIf="professores?.length > 0"
                        class="p-12"
                        placeholder="Pesquisar..."
                        matInput
                        name="filtro"
                        (keyup)="filtrarProfessores($event.target.value)"
                    />
                    <mat-divider></mat-divider>
                    <mat-option *ngIf="carregandoProfessores"
                        >Carregando professores...</mat-option
                    >
                    <mat-option
                        *ngIf="
                            professores?.length <= 0 && !carregandoProfessores
                        "
                        >Nenhum professor encontrado</mat-option
                    >
                    <div
                        *ngFor="
                            let professor of professores
                                | filter: professorFiltro
                        "
                    >
                        <mat-option [value]="professor.codigo">{{
                            professor.nome
                        }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- PROFESSOR -->
        </div>

        <div fxLayout="column">
            <!--  DISCIPLINAS -->
            <div
                class="mat-elevation-z1 p-8"
                fxLayout="column"
                fxLayoutGap="8px"
            >
                <!-- BTN_ADICIONAR_DISCIPINA -->
                <div fxLayoutAlign="end center">
                    <button
                        [disabled]="
                            statusDataBar != EStatus.editando &&
                            statusDataBar != EStatus.inserindo
                        "
                        class="m-4"
                        type="button"
                        mat-raised-button
                        matTooltip="Vincular disciplina"
                        (click)="abrirDialogAdicionarDisciplina()"
                        color="primary"
                    >
                        <!-- <span>
                        Vincular disciplina
                    </span> -->
                        Adicionar disciplina
                    </button>
                </div>
                <!-- BTN_ADICIONAR_DISCIPINA -->

                <!-- TABELA -->
                <div>
                    <mat-divider></mat-divider>
                    <ic-expansivel-table
                        [habilitarPaginacao]="false"
                        [habilitarPesquisa]="false"
                        [desabilitarBotoes]="!inserindoOuEditando"
                        [displayedColumns]="colunasExpansivelTable"
                        [servico]="servicoExpansivelTable"
                        [acoesTabela]="acoesExpansivelTable"
                    ></ic-expansivel-table>
                </div>
                <!-- TABELA -->
            </div>
            <!--  DISCIPLINAS -->
        </div>
    </form>

    <!-- FORM -->
</databar-form>
