<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="statusChanged($event)"
    [navegacao]="['Gerenciamento','Disciplina','Tipo']"
    fxFlex
>
    <form
        (Keydown.enter)="servicoDataBarBind.enviarFormComEnter()"
        [formGroup]="form"
        fxLayout.xs="column"
        class="turno-form"
    >
        <!-- CODIGO -->
        <mat-form-field
            *ngIf="statusDataBar != EStatus.inserindo"
            appearance="outline"
            class="pr-sm-8"
            fxFlex="20"
        >
            <mat-label>Código</mat-label>
            <input
                [attr.disabled]="statusDataBar == EStatus.inserindo || statusDataBar == EStatus.editando"
                matInput
                class="primary-color-input border-radius-4"
                name="primary color"
                formControlName="codigo"
            />
        </mat-form-field>
        <!-- CODIGO -->

        <!-- DESCRICAO -->
        <ap-input-max-length
            fxFlex
            [maxlength]="50"
            label="Descrição"
            [minlength]="1"
            controlName="descricao"
            [form]="form"
            name="descricao"
            [condicaoErro]="form.get('descricao').errors?.required"
        >
        </ap-input-max-length>
        <!-- DESCRICAO -->
    </form>
</databar-form>
