<div fxLayout="column" fxFlex="1 0 auto" class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <span class="title dialog-title">Adicionar disciplinas</span>
            <button
                mat-icon-button
                (click)="fecharDialog()"
                aria-label="Fechar dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div fxFlex="100" class="p-16 pb-0 m-0 noPadding" fusePerfectScrollbar>
        <!-- FORM -->
        <form [formGroup]="form" fxLayout="column">
            <!-- CURRICULO -->
            <mat-form-field appearance="outline" fxFlex="1 0 auto">
                <mat-label>Currículo</mat-label>
                <mat-select fxLayout="column" formControlName="codigoCurriculo">
                    <div *ngFor="let curriculo of curriculos">
                        <mat-option *ngIf="curriculos.length <= 0" disabled>
                            <span>Nenhum registro encontrado</span>
                        </mat-option>
                        <mat-option
                            [value]="curriculo.codigo"
                            (click)="aoSelecionarCurriculo(curriculo)"
                        >
                            {{ curriculo.descricaoCurso }} - {{ curriculo.ano }}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- CURRICULO -->

            <!-- DISCIPLINAS_CURRICULO -->
            <mat-form-field appearance="outline" fxFlex="1 0 auto">
                <mat-label>{{ descricaoLabelDisciplinasCurriculo }} </mat-label>
                <mat-select
                    fxLayout="column"
                    [disabled]="!form.get('codigoCurriculo').value"
                    formControlName="codigoCurriculoDisciplina"
                >
                    <input
                        class="p-12"
                        placeholder="Pesquisar..."
                        matInput
                        name="filtro"
                        (keyup)="
                            filtrarDisciplinasCurriculo($event.target.value)
                        "
                    />
                    <mat-divider></mat-divider>
                    <div
                        *ngFor="
                            let disciplinaCurriculo of disciplinasCurriculo
                                | filter: filtroDisciplinaCurriculo
                        "
                    >
                        <mat-option [value]="disciplinaCurriculo.codigo">{{
                            disciplinaCurriculo.disciplina.descricao
                        }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- DISCIPLINAS_CURRICULO -->

            <!-- DESCRICAO -->
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Descrição da disciplina</mat-label>
                <input
                    matTooltip="Deve ser preenchido somente se o nome da disciplina precisar ser alterado."
                    matInput
                    type="text"
                    #input_descricao
                    maxlength="30"
                    formControlName="descricao"
                />
                <mat-hint align="end">
                    {{ input_descricao.value?.length || 0 }}/{{ 30 }}</mat-hint
                >
                <mat-error *ngIf="form.get('descricao').hasError('maxlength')">
                    O campo pode ter no máximo 30 caracteres
                </mat-error>
            </mat-form-field>
            <!-- DESCRICAO -->

            <!-- TURNOS -->
            <mat-form-field appearance="outline" fxFlex="1 0 auto">
                <mat-label>Turnos </mat-label>
                <mat-select fxLayout="column" formControlName="codigoTurno">
                    <div *ngFor="let turno of turnos">
                        <mat-option [value]="turno.codigo">{{
                            turno.descricao
                        }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <!-- TURNOS -->

            <!-- FORM -->
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            mat-raised-button
            color="accent"
            (click)="salvar()"
            [disabled]="
                this.form?.errors?.length > 0 ||
                this.form.invalid ||
                this.salvandoDisciplina
            "
        >
            <div
                *ngIf="salvandoDisciplina"
                fxLayout="row"
                fxFlex="1 0 auto"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
            >
                <span>SALVANDO</span>
                <mat-spinner diameter="20"></mat-spinner>
            </div>
            <span *ngIf="!salvandoDisciplina">SALVAR</span>
        </button>
    </div>
</div>
