<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="statusChanged($event)"
    [navegacao]="['Gerenciamento', 'Usuários']"
    fxFlex
>
    <!-- FORM -->
    <form [formGroup]="form" fxLayout="column">
        <!-- LINHA 1 -->
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="12px">
            <!-- PERFIL -->
            <mat-form-field fxFlex appearance="outline">
                <mat-select placeholder="Perfil" formControlName="perfilCodigo">
                    <mat-option
                        *ngFor="let perfil of perfis"
                        [value]="perfil.codigo"
                    >
                        {{ perfil.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="form.get('perfilCodigo').hasError('required')"
                >
                    {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                </mat-error>
            </mat-form-field>
            <!-- PERFIL -->

            <!-- NOME -->
            <ap-input-max-length
                fxFlex
                [maxlength]="45"
                label="Nome"
                [minlength]="1"
                controlName="nome"
                [form]="form"
                name="nome"
                mensagemErro="Campo obrigatório!"
                [condicaoErro]="form.get('nome').hasError('required')"
            >
            </ap-input-max-length>
            <!-- NOME -->

            <!-- ATIVO -->
            <div
                fxFlex.gt-sm="20"
                fxFlex
                fxLayoutAlign.gt-sm="center center"
                class="pb-8"
                fxLayoutAlign=" center start"
            >
                <mat-slide-toggle formControlName="ativo"
                    >Ativo</mat-slide-toggle
                >
            </div>
            <!-- ATIVO -->
        </div>
        <!-- LINHA 1 -->

        <!-- LINHA 2 -->
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="12px">
            <!-- CURSO -->
            <mat-form-field
                fxFlex="100"
                appearance="outline"
                *ngIf="exibirSelectCurso"
            >
                <mat-label>Curso</mat-label>
                <mat-select
                    placeholder="Curso"
                    formControlName="cursoCodigo"
                    [required]="exibirSelectCurso"
                >
                    <mat-option
                        *ngFor="let curso of cursos"
                        [value]="curso.codigo"
                    >
                        {{ curso.descricao }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('cursoCodigo').hasError('required')">
                    Campo obrigatório
                </mat-error>
            </mat-form-field>
            <!-- CURSO -->

            <!-- LOGIN -->
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Login</mat-label>
                <input
                    (keydown.space)="preventEspacos($event)"
                    matInput
                    type="text"
                    #login
                    maxlength="30"
                    class="primary-color-input border-radius-4"
                    name="login"
                    formControlName="login"
                />

                <mat-hint align="end">
                    {{ login.value?.length || 0 }}/30</mat-hint
                >
                <mat-error *ngIf="form.get('email').hasError('required')">
                    {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                </mat-error>
            </mat-form-field>
            <!-- LOGIN -->

            <!-- SENHA -->
            <!-- <ap-input-max-length
                fxFlex="100"
                [maxlength]="35"
                label="Senha"
                [minlength]="1"
                controlName="senha"
                tipo="password"
                toggleSenha="true"
                [form]="form"
                name="senha"
                mensagemErro="Campo obrigatório!"
                [condicaoErro]="form.get('senha').hasError('required')"
            >
            </ap-input-max-length> -->
            <!-- SENHA -->
            <!-- EMAIL -->
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>E-mail</mat-label>
                <input
                    matInput
                    type="email"
                    #input
                    maxlength="30"
                    minlength="1"
                    class="primary-color-input border-radius-4"
                    name="email"
                    formControlName="email"
                />

                <mat-hint align="end">
                    {{ input.value?.length || 0 }}/30</mat-hint
                >
                <mat-error *ngIf="form.get('email').hasError('required')">
                    {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                </mat-error>
                <mat-error *ngIf="form.get('email').hasError('email')">
                    E-mail inválido!
                </mat-error>
            </mat-form-field>
            <!-- EMAIL -->

            <!-- TELEFONE -->
            <mat-form-field appearance="outline" fxFlex.gt-sm="18" fxFlex="100">
                <mat-label>Celular</mat-label>
                <input
                    matInput
                    mask="(00) 000000000"
                    type="text"
                    class="primary-color-input border-radius-4"
                    name="telefone"
                    formControlName="telefone"
                />
                <mat-error *ngIf="form.get('telefone').hasError('pattern')">
                    Telefone inválido!
                </mat-error>
                <mat-error *ngIf="form.get('telefone').hasError('required')">
                    {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                </mat-error>
            </mat-form-field>
            <!-- TELEFONE -->
        </div>
        <!-- LINHA 2 -->

        <!-- LINHA 3 -->
        <div fxLayout="column" fxLayout.gt-sm="row"></div>
        <!-- LINHA 3 -->
    </form>

    <!-- FORM -->
</databar-form>
