// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

@import "app/shared/styles/toast";

.texto-informativo {
    text-align: center;
    margin: 0.5em;
    color: #bdbdbd;
    font-size: 1.25em;
}
