<!-- HEADER -->
<div
    class="header fundo px-12"
    fxLayout="row"
    fxLayoutAlign.gt-sm="start center"
    fxLayoutAlign="center center"
    style="width: 100%"
>
    <div fxLayout="column" fxLayoutAlign="center center" class="m-20">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="primary-fg secondary-text s-18">home</mat-icon>
                <mat-icon class="primary-fg secondary-text s-16"
                    >chevron_right</mat-icon
                >
            </div>
            <div
                fxLayout="row"
                *ngFor="let nav of navegacao; index as i"
                fxLayoutAlign="center center"
            >
                <span class="secondary-text primary-fg">{{ nav }}</span>
                <mat-icon
                    class="secondary-text primary-fg s-16"
                    *ngIf="navegacao.length - 1 > i"
                    >chevron_right</mat-icon
                >
            </div>
        </div>
        <div *ngIf="titulo" class="h2 mt-16 primary-fg">{{ titulo }}</div>
    </div>
</div>
<!-- / HEADER -->
