<ap-autenticacao-form fxFlex="1 0 auto">
    <form
        name="redefinirSenhaForm"
        [formGroup]="redefinirSenhaForm"
        fxLayout="column"
        novalidate
    >
        <mat-form-field appearance="outline">
            <mat-label>Informe seu E-mail</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
            <mat-error
                *ngIf="redefinirSenhaForm.get('email')?.hasError('required')"
            >
                E-mail é obrigatório!
            </mat-error>
            <mat-error
                *ngIf="redefinirSenhaForm.get('email').hasError('email')"
            >
                E-mail inválido!
            </mat-error>
        </mat-form-field>

        <button
            mat-raised-button
            color="accent"
            class="submit-button"
            aria-label="LOG IN"
            (click)="redefinir()"
            [disabled]="redefinirSenhaForm.invalid || emProgresso"
        >
            <div fxLayout="row" class="p-12" fxLayoutAlign="center center">
                <mat-spinner *ngIf="emProgresso" diameter="28"></mat-spinner>
                <span *ngIf="!emProgresso">REDEFINIR SENHA</span>
            </div>
        </button>

        <div fxLayout="row" class="m-12" fxLayoutAlign="center center">
            <a class="forgot-password" [routerLink]="'/autenticacao/login'">
                Voltar para o login.
            </a>
        </div>
    </form>
</ap-autenticacao-form>
