<ap-autenticacao-form fxFlex="1 0 auto">
    <form name="loginForm" [formGroup]="loginForm" fxLayout="column" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput formControlName="login" />
            <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
            <mat-error *ngIf="loginForm.get('login').hasError('required')">
                Usuário é obrigatório!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" />
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
                Senha é obrigatória!
            </mat-error>
        </mat-form-field>

        <button
            mat-raised-button
            color="accent"
            class="submit-button"
            aria-label="LOG IN"
            (click)="autenticar()"
            [disabled]="loginForm.invalid || emProgresso"
        >
            <div fxLayout="row" class="p-12" fxLayoutAlign="center center">
                <mat-spinner *ngIf="emProgresso" diameter="28"></mat-spinner>
                <span *ngIf="!emProgresso">ENTRAR</span>
            </div>
        </button>

        <div fxLayout="row" class="m-12" fxLayoutAlign="center center">
            <a
                class="forgot-password"
                [routerLink]="'/autenticacao/redefinir-senha'"
            >
                Esqueceu sua senha?
            </a>
        </div>
    </form>
</ap-autenticacao-form>
