<mat-form-field appearance="outline" [style.width]="parametros.largura">
    <mat-label>{{ parametros.label }}</mat-label>
    <mat-select
        fxLayout="column"
        [disabled]="parametros.desabilitar"
        [multiple]="parametros.multiplo"
        [formControl]="parametros.control"
        (valueChange)="selecionar($event)"
    >
        <input
            *ngIf="parametros.dados?.length > 0"
            class="p-12"
            placeholder="Pesquisar..."
            matInput
            name="filtro"
            (keyup)="filtrar($event.target.value)"
        />
        <mat-divider></mat-divider>
        <mat-option disabled *ngIf="parametros.carregando">
            {{ parametros.mensagemCarregamento }}
        </mat-option>
        <mat-option
            disabled
            *ngIf="!parametros.carregando && parametros.dados?.length <= 0"
            >{{ parametros.mensgemNaoEncontrado }}</mat-option
        >
        <ng-container *ngIf="!parametros.carregando">
            <div *ngFor="let dado of parametros.dados | filter: filtro">
                <mat-option [value]="dado[parametros.atributoValue]">
                    {{ parametros.textoExibicao(dado) }}
                </mat-option>
            </div>
        </ng-container>
    </mat-select>
</mat-form-field>
