<mat-form-field appearance="outline" fxFlex="1 0 auto">
    <mat-label>{{ parametros.label }}</mat-label>
    <mat-select fxLayout="column" [formControl]="parametros.control">
        <input
            *ngIf="parametros.dados?.length > 0"
            class="p-12"
            placeholder="Pesquisar..."
            matInput
            name="filtro"
            (keyup)="filtrar($event.target.value)"
        />
        <mat-divider></mat-divider>
        <!-- <mat-option *ngIf="parametros.carregando">
            {{ parametros.mensagemCarregamento }}
        </mat-option> -->
        <mat-option *ngIf="parametros.dados?.length <= 0">{{
            parametros.mensgemNaoEncontrado
        }}</mat-option>
        <div *ngFor="let dado of parametros.dados | filter: filtro">
            <mat-option [value]="dado[parametros.atributoValue]">
                {{ parametros.textoExibicao(dado) }}
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>
