<div fxLayout="column" fxFlex="1 0 auto" class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <span class="title dialog-title">{{ titulo }}</span>
            <button
                mat-icon-button
                (click)="fecharDialog()"
                aria-label="Fechar dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div fxFlex="100" class="p-16 pb-0 m-0 noPadding" fusePerfectScrollbar>
        <!-- FORM -->
        <form
            name="adicionarDisciplinaForm"
            [formGroup]="adicionarDisciplinaForm"
            fxLayout="column"
            novalidate
        >
            <div fxLayout="row" fxLayoutGap="4px">
                <!-- DISCIPLINA -->
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Disciplina</mat-label>
                    <mat-select
                        fxLayout="column"
                        (selectionChange)="onChangeDisciplina()"
                        formControlName="disciplina"
                        (openedChange)="onOpenedChangeDisciplina()"
                    >
                        <input
                            class="p-12"
                            placeholder="Pesquisar..."
                            matInput
                            name="filtroDisciplina"
                            #filtroDisciplina
                        />
                        <mat-divider></mat-divider>
                        <div
                            *ngFor="
                                let disciplina of disciplinas
                                    | filter: filtroDisciplina?.value
                            "
                        >
                            <mat-option [value]="disciplina.codigo">{{
                                disciplina.descricao
                            }}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <!-- DISCIPLINA -->

                <!-- PERIODO -->
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Período</mat-label>
                    <mat-select placeholder="Período" formControlName="periodo">
                        <mat-option
                            *ngFor="let periodo of periodos"
                            [value]="periodo.codigo"
                        >
                            {{ periodo.descricao }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="
                            adicionarDisciplinaForm
                                .get('periodo')
                                .hasError('required')
                        "
                    >
                        {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                    </mat-error>
                </mat-form-field>
                <!-- PERIODO -->
            </div>

            <div fxLayout="row" fxLayoutGap="4px">
                <!-- CARGA_HORARIA SEMANAL -->
                <div fxLayout="row" fxFlex="1 0 auto" fxLayoutGap="4px">
                    <!-- TEORICA -->
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Quantidade de aula teórica</mat-label>
                        <input
                            required="true"
                            matInput
                            mask="000"
                            formControlName="aulasSemanaisTeorica"
                        />
                        <mat-error
                            *ngIf="
                                adicionarDisciplinaForm
                                    .get('aulasSemanaisTeorica')
                                    .hasError('required')
                            "
                        >
                            {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                        </mat-error>
                        <mat-error
                            *ngIf="
                                adicionarDisciplinaForm
                                    .get('aulasSemanaisTeorica')
                                    .hasError('pattern')
                            "
                        >
                            {{ "GERENCIAMENTO.ANO_INVALIDO" | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!-- TEORICA -->

                    <!-- PRATICA -->
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Quantidade de aula pratica</mat-label>
                        <input
                            required="true"
                            matInput
                            mask="000"
                            formControlName="aulasSemanaisPratica"
                        />
                        <mat-error
                            *ngIf="
                                adicionarDisciplinaForm
                                    .get('aulasSemanaisPratica')
                                    .hasError('required')
                            "
                        >
                            {{ "GERENCIAMENTO.CAMPO_OBRIGATORIO" | translate }}
                        </mat-error>
                        <mat-error
                            *ngIf="
                                adicionarDisciplinaForm
                                    .get('aulasSemanaisPratica')
                                    .hasError('pattern')
                            "
                        >
                            {{ "GERENCIAMENTO.ANO_INVALIDO" | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!-- PRATICA -->
                </div>
            </div>

            <!-- DISCIPLINA_PREREQUISITO -->

            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Pré-requisito</mat-label>
                    <mat-select
                        fxLayout="column"
                        formControlName="preRequisitos"
                        (openedChange)="onOpenedChangePreRequisito()"
                        multiple
                    >
                        <input
                            class="p-12"
                            placeholder="Pesquisar..."
                            matInput
                            name="filtro"
                            #filtroDisciplinaPreRequisito
                        />
                        <mat-divider></mat-divider>
                        <div
                            *ngFor="
                                let disciplinaPreRequisito of disciplinas
                                    | filter
                                        : filtroDisciplinaPreRequisito?.value
                            "
                        >
                            <mat-option
                                *ngIf="
                                    adicionarDisciplinaForm.get('disciplina')
                                        .value != disciplinaPreRequisito.codigo
                                "
                                [value]="disciplinaPreRequisito.codigo"
                                >{{
                                    disciplinaPreRequisito.descricao
                                }}</mat-option
                            >
                        </div>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- DISCIPLINA_PREREQUISITO -->
        </form>
        <!-- FORM -->
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            [disabled]="emProgresso || adicionarDisciplinaForm.invalid"
            class="mat-raised-button mat-accent"
            (click)="salvar()"
        >
            <div
                *ngIf="emProgresso"
                fxLayout="row"
                fxFlex="1 0 auto"
                fxLayoutAlign="center center"
                fxLayoutGap="8px"
            >
                <span>SALVANDO</span>
                <mat-spinner diameter="20"></mat-spinner>
            </div>
            <span *ngIf="!emProgresso">SALVAR</span>
        </button>
    </div>
</div>
