<databar-form
    class="inner-scroll"
    fxLayout="column"
    fxFlex
    [servicoBind]="servicoDataBarBind"
    [entidadePaginada]="entidadePaginada"
    [form]="form"
    (statusChanged)="statusChanged($event)"
    [navegacao]="['Gerenciamento', 'Cargos', 'Professores']"
    fxFlex
>
    <!-- FORM -->
    <form [formGroup]="form" fxLayout="column">
        <!-- LINHA 1 -->
        <div fxLayout="column" fxLayout.gt-sm="row">
            <!-- MATRICULA -->
            <mat-form-field
                appearance="outline"
                fxFlex.gt-sm="18"
                fxFlex="100"
                class="pr-sm-8"
            >
                <mat-label>Matrícula</mat-label>
                <input
                    [required]="condicaoDataBar"
                    matInput
                    mask="0000000"
                    type="text"
                    class="primary-color-input border-radius-4"
                    formControlName="matricula"
                />
                <mat-error *ngIf="form.get('matricula').hasError('pattern')">
                    Matrícula inválida!
                </mat-error>
                <mat-error *ngIf="form.get('matricula').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- MATRICULA -->

            <!-- NOME -->
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Nome</mat-label>
                <input
                    [required]="condicaoDataBar"
                    matInput
                    type="text"
                    #input_nome
                    class="primary-color-input border-radius-4"
                    name="nome"
                    formControlName="nome"
                />

                <mat-hint align="end">
                    {{ input_nome.value?.length || 0 }}/45</mat-hint
                >
                <mat-error *ngIf="form.get('nome').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- NOME -->

            <!-- ATIVO -->
            <div
                fxFlex.gt-sm="20"
                fxFlex
                fxLayoutAlign.gt-sm="center center"
                class="pb-8"
                fxLayoutAlign=" center start"
            >
                <mat-slide-toggle formControlName="ativo"
                    >Ativo</mat-slide-toggle
                >
            </div>
            <!-- ATIVO -->
        </div>
        <!-- LINHA 1 -->

        <!-- LINHA 2 -->
        <div fxLayout="column" fxLayout.gt-sm="row">
            <!-- EMAIL -->
            <mat-form-field appearance="outline" fxFlex="100" class="pr-sm-8">
                <mat-label>E-mail</mat-label>
                <input
                    [required]="condicaoDataBar"
                    matInput
                    type="email"
                    #input
                    class="primary-color-input border-radius-4"
                    name="email"
                    formControlName="email"
                />

                <mat-hint align="end">
                    {{ input.value?.length || 0 }}/30</mat-hint
                >
                <mat-error *ngIf="form.get('email').hasError('required')">
                    Campo obrigatório!
                </mat-error>
                <mat-error *ngIf="form.get('email').hasError('email')">
                    E-mail inválido!
                </mat-error>
            </mat-form-field>
            <!-- EMAIL -->

            <!-- TELEFONE -->
            <mat-form-field appearance="outline" fxFlex.gt-sm="18" fxFlex="100">
                <mat-label>Celular</mat-label>
                <input
                    [required]="condicaoDataBar"
                    matInput
                    mask="(00) 000000000"
                    type="text"
                    class="primary-color-input border-radius-4"
                    name="telefone"
                    formControlName="telefone"
                />
                <mat-error *ngIf="form.get('telefone').hasError('pattern')">
                    Telefone inválido!
                </mat-error>
                <mat-error *ngIf="form.get('telefone').hasError('required')">
                    Campo obrigatório!
                </mat-error>
            </mat-form-field>
            <!-- TELEFONE -->
        </div>
        <!-- LINHA 2 -->
    </form>

    <!-- FORM -->
</databar-form>
