<mat-card class="card-horario" (click)="selecionar($event)">
    <mat-card-header>
        <mat-card-title>
           <p> {{ horario?.ano }} - {{ horario?.semestre }} semestre</p>
           <p>{{horario?.descricao}}</p>
        </mat-card-title>
        <mat-card-title>
            {{ horario?.curriculo?.curso?.descricao }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ horario?.periodo }}º Periodo - {{ horario?.turno?.descricao }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button
            matSuffix
            mat-icon-button
            (click)="editar($event)"
            matTooltip="Editar"
        >
            <mat-icon>edit</mat-icon>
        </button>
        <button
            matSuffix
            mat-icon-button
            (click)="remover($event)"
            matTooltip="Remover"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
